<div class="requirements-page" *ngIf="filteredCategories.length > 0">
  <div class="row g-4 categories-grid" [style.--print-cols]="printColumns">
    <div *ngFor="let cat of filteredCategories" [class]="'section ' + categoryColClass">
      <h3 class="category-heading">{{ cat.label }}</h3>
      <div class="chore-list">
        <div *ngFor="let chore of cat.chores" class="chore-item">
          <strong>{{ chore.name }}</strong>
          <div class="req-list ms-3 mt-1">
            <div *ngFor="let req of chore.requirements; let i = index" class="form-check">
              <input class="form-check-input" type="checkbox" [id]="'req-page-' + req.id" />
              <label class="form-check-label" [for]="'req-page-' + req.id">{{ req.name }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
