node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.DS_Store
.angular
dist
build
.pytest_cache
__pycache__
*.pyc
.venv
venv
.vs
.vscode
.idea
*.swp
*.swo
*~
.prettier
.editorconfig
coverage
.nyc_output
